<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="authority" name="authority" schema="schema/authority.exsd"/>
   <extension-point id="volatilemapFileHandler" name="volatilemapFileHandler" schema="schema/volatilemapFileHandler.exsd"/>
   <extension-point id="isModifyableChecker" name="isModifyableChecker" schema="schema/isModifyableChecker.exsd"/>

</plugin>
